[phases.setup]
nixPkgs = [
  "nodejs_18",           # Node.js version
  "npm-9_x",             # npm version
  "yarn"                 # Add Yarn here
]
nixOverlays = ["https://github.com/railwayapp/nix-npm-overlay/archive/main.tar.gz"]
nixpkgsArchive = "5624e1334b26ddc18da37e132b6fa8e93b481468"
aptPkgs = ["curl", "wget"]

[phases.install]
dependsOn = ["setup"]
cmds = ["yarn install"]    # Use Yarn to install dependencies
cacheDirectories = ["/root/.yarn"]  # Update cache directory for Yarn
paths = ["/app/node_modules/.bin"]

[phases.build]
dependsOn = ["install"]
cmds = ["npm run build"]   # Adjust this based on your project’s build script
cacheDirectories = [".next/cache", "node_modules/.cache"]

[start]
cmd = "npm run start"      # Adjust this based on your project’s start script